body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 600px;
  padding: 20px;
  border: 2px solid #c3dbff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.forecast-container{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the items horizontally */
  }
  
  .forecast-item {
    width: 30%; /* Set width to 30% */
    max-width: 50px; /* Set maximum width to 50px */
    padding: 2px; /* Add padding */
    border: 1px solid #bb9c9c; /* Add border */
    border-radius: 2px; /* Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    text-align: center; /* Center text horizontally */
    margin: 5px; /* Add margin to separate items */
  }
  
